//header

$eNavHeight:40px;
$eNavLgHeight:50px;
$eNavBg:#dee2e6;
$eNavBgLite:#dee2e6;
$eNavLgBg:#dee2e6;


// input

$subscribeInputHeight:40px;
$searchInputHeaghtLg:40px;
$searchInputHeaghtSm:40px;
$inputInnerBtnColor:#000f1f;
